* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/img/the_rock.jpg);
    background-position: top;
    background-repeat: repeat;
    background-size: 50%;
}

h1 {
    background-color: #e2cd7e;
    box-shadow:0px 0px 50px 30px #000 ;
    font-size: 90px;
    margin-bottom: 0;
}

h3 {
    background-color: #e2cd7e;
    font-size: 22px;
    margin-top: 0;
}

#titulo {
    display: flex;
    justify-content: center;
    color: #000;
}

video {
    width: 800px;
    margin-bottom: 50px;
}